# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\Reddit_Clone_Backend-main\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
